body {
  background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #decba4,
    #3e5151
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #decba4,
    #3e5151
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar {
  background-color: #081c15;
  color: #dccde8;
}
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  color: #dccde8;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url(../img/image1.jpg);
  background-size: cover;
  /* opacity: 0.85; */
}
.carousel-image-2 {
  background: url(../img/image2.jpg);
  background-size: cover;
  /* opacity: 0.85; */
}
.carousel-image-3 {
  background: url(../img/image3.jpg);
  background-size: cover;
  /* opacity: 0.85; */
}

.btn {
  color: #eee2df;
  background-color: #773344;
  border: black 2px solid;
}

.carousel-item h1,
#home-heading h1 {
  color: #d35269;
  font-weight: 600;
}

.carousel-item p {
  color: #eec0c6;
  font-size: 24px;
}

#home-heading p {
  color: #eec0c6;
}
#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/home-heading.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
#info img {
  border-radius: 20px;
}
